@font-face {
    font-family: retro;
    src: url(./fonts/PressStart2P-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: retro;
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px; 
}
  
::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, #833ab4,#fd1d1d,#fcb045);
    border-radius: 0;
}
  
::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border: 2px solid #d1d1d1; 
}
  
.home-page{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    
}
.header{
    height: 7%;
    width: 100%;
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
	box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: small;
}
.input-box{
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    padding: 3px 20px;
    outline: none;
}
.button{
    padding: 3px 10px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    cursor: pointer;
    transition: all ease 0.2s;
}
.button:hover{
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
      );
    color: white;
    scale:0.95;
}
.feed{
    height: 90%;
    margin-top: 1.5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background: white;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
	box-sizing: border-box;
}
.message{
    height: 90%;
    width: 30%;
    background: #833ab4;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
	box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: white;
}
.post{
    height: 90%;
    width: 60%;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
	box-sizing: border-box;
    position: relative;
    overflow: hidden;
}
.users{
    height: 80%;
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 4px 4px;
    overflow: auto;
}
.user-image{
    height: 50px;
    width: 50px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    background-image: url(./assets/seamless-90s-background.webp);
    background-position: center;
    background-size: cover;
}
.user{
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    gap: 2%;
    align-items: center;
    color: black;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    transition: all ease 0.2s;
    cursor: pointer;
}
.user:hover{
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    color: white;
    
}
.mesg{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.desc{
    font-size: 1.5vh;
    color: rgba(161, 159, 159, 0.74);
}
.user:hover .desc{
    color: rgba(255, 255, 255, 0.74);
}
.story{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: auto;
    gap: 20px;
    padding: 10px;
    border-bottom: 6px inset #833ab4;
    overflow-y: hidden;
}
.story-image{
    height: 60px;
    width: 60px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
   
    flex-shrink: 0;
}
.user-story{
    text-align: center;
    line-height: 16px;
    font-size: 2vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
    flex-shrink: 0;
    width: 120px;
    height: 120px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    cursor: pointer;
}
.user-story:hover{
    scale: 0.95;
    background: linear-gradient(
      to right,
      #833ab4,#fd1d1d,#fcb045
    );
    color: white;
}
.user-posts{
    height: 70%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: start;
    overflow: auto;
    position: relative;
}
.user-post{
    height: 90%;
    width: 60%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    flex-shrink: 0;
}
.post-header{
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    gap: 5px;
    border-bottom: 6px inset #833ab4;
}
.post-username{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 4%;
}
.post-user{
    height: 40px;
    width: 40px;
}
.menu-icon{
    font-size: 3vh;
    padding: 2px 4px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    margin-right: 3%;
}
.post-body{
    height: 63%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3%;
}
.post-image{
    height: 90%;
    display: flex;
    align-items: center;

}
.post-image img{
    height: 90%;
    padding-left: 20px;
    
}
.post-content{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    
}
.post-desc{
    padding-top: 10px;
    font-size: 1.7vh;
    line-height: 2.5vh;
}
.post-footer{
    height: 17%;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
    gap: 5px;
	border-top: 6px inset  #833ab4;
}
.like{
    height: 90%;
    background-image: url(./assets/like.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.like:hover{
    scale: 0.95;
}
.comment{
    height: 90%;
    background-image: url(./assets/comment.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.comment:hover{
    scale: 0.95;
}
.share{
    height: 90%;
    background-image: url(./assets/share.png);
    background-repeat: no-repeat;
    cursor: pointer;
}
.share:hover{
    scale: 0.95;
}
.message-me{
    height: 80%;
    position: absolute;
    width: 30%;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    background-color: white;
	border-top: 6px inset  #833ab4;
    box-shadow: 5px 10px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    transition: all ease 0.3s;
    z-index: 99;
    
}

.message-me-header{
    height: 12%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 6px inset #833ab4;
  
}
#message-me-image{
    height: 50px;
    width: 50px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    background-image: url(./assets/seamless-90s-background.webp);
    background-position: center;
    background-size: cover;
}
.cross-icon{
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    border-top: 6px inset  #833ab4;
    font-size: 3vh;
    cursor: pointer;
}

.header-user{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.message-me-body{
    height: 78%;
    overflow: auto;
}
#message-me-body-image{
    padding: 5px;
    height: 300px;
    width: 300px;
}
.message-me-footer{
    display: flex;
    width: 100%;
    border-top: 6px inset  #833ab4;
    height: 10%;
    align-items: center;
    justify-content: space-around;
}
.comment-box{
    position: absolute;
    height: 90%;
    top: 8%;
    left: 10%;
    width: 50%;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    background-color: white;
	border-top: 6px inset  #833ab4;
    box-shadow: 5px 10px 5px black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    display: none;
    z-index: 99;
}
.comment-box p{
    font-size: 3vh;
}
.comment-input-box{
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
    padding: 3px 15px;
    outline: none;
}
.menu-box{
    height: 60%;
    top: 33%;
    position: absolute;
    width: 30%;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    background-color: white;
	border-top: 6px inset  #833ab4;
    box-shadow: 5px 10px 5px black;
    display: none;
    z-index: 99;
    left: 40%;
}
.menu-box-header{
    height: 15%;
    display: flex;
    justify-content: right;
}
#close-button-menu{
    padding: 2px;
    font-size: 2vh;
}
.menu-box-body{
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    cursor: pointer;
}
.menu-box-body p:nth-child(1){
    color: #fd1d1d;
}
.menu-box-body p:hover{
    scale: 0.95;
}
#story-box{
    height: 100%;
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 99;
    background: linear-gradient(
        to right,
        #833ab4,#fd1d1d,#fcb045
      );
    display: none;
}
.story-box-header{
    background-color: white;
}
#story-box-image{
    height: 50px;
    width: 50px;
    height: 50px;
    width: 50px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
	border-top: 6px inset  #833ab4;
}
.story-box-body{
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.story-box-post{
    height: 90%;
    width: 30%;
    background-color: blue;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    background-color: white;
	border-top: 6px inset  #833ab4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    line-height: 3vh;
}
.message-me-box{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end; 
}
#message-list{
    list-style-type: none;
    padding: 4px;
    text-align: right;
    line-height: 4vh;
    width: 100%;
}
#message-list li{
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    background-color: white;
	border-top: 6px inset  #833ab4;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.comment-message-box{
    display: flex;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    
}
#comment-list{
    list-style-type: none;
    padding: 4px;
    text-align: right;
    line-height: 4vh;
    height: auto;
    width: 100%;
    
}
#comment-list li{
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    background-color: white;
	border-top: 6px inset  #833ab4;
    width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
    
}
#story-box-post-image{
    height: 200px;
    width: 200px;
    border-bottom: 6px inset #833ab4;
	border-left: 6px inset #fd1d1d;
	border-right: 6px inset #fcb045;
    background-color: white;
	border-top: 6px inset  #833ab4;
}
.story-box-post p{
    width: 90%;
}